<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="icon" type="image/png" href="~/images/favicon.png" />
    <link rel="stylesheet" href="~/css/site.css">

    <style>
        .top-buffer {
            padding-top: 10px;
        }

        html {
            position: relative;
            min-height: 100%;
        }

        .footer {
            position: absolute;
            bottom: 15px;
            width: 100%;
            height: 100px;
        }

        .no-margin {
            margin: unset;
        }
    </style>
</head>
<body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

    <!-- Content -->
    <div class="container body-content">
        @RenderBody()
    </div>


    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
